
.app-container {
  display: flex;
  height: 100vh;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
}

.left-pane {
  flex: 2;
}

.right-pane {
  flex: 1;
  overflow-y: auto;
}
